# medical-triage-agent-ai-poc/backend/requirements.txt

# ==========================================
# CORE PYTHON
# ==========================================
python-dotenv
pydantic
pydantic-settings

# ==========================================
# API
# ==========================================
fastapi
uvicorn[standard]

# ==========================================
# AI / LLM
# ==========================================
torch
transformers
accelerate
datasets
sentencepiece
safetensors
huggingface_hub


# ==========================================
# PEFT / LORA
# ==========================================
peft
trl

# ==========================================
# vLLM
# ==========================================
vllm

# ==========================================
# TOKENIZERS
# ==========================================
tokenizers

# ==========================================
# DATA PROCESSING
# ==========================================
numpy
pandas
scikit-learn

# ==========================================
# NLP / SPACY
# ==========================================
spacy
faker>=25.0.0

# ==========================================
# PRESIDIO RGPD
# ==========================================
presidio-analyzer
presidio-anonymizer

# ==========================================
# MONITORING / MLOPS
# ==========================================
mlflow
wandb

# ==========================================
# HTTP / CLIENTS
# ==========================================
httpx
requests

# ==========================================
# LOGGING
# ==========================================
loguru

# ==========================================
# SECURITY
# ==========================================
python-jose[cryptography]
passlib[bcrypt]

# ==========================================
# TESTING
# ==========================================
pytest
pytest-asyncio

# ==========================================
# CODE QUALITY
# ==========================================
black
flake8
isort
mypy

# ==========================================
# JUPYTER
# ==========================================
jupyterlab
ipykernel
